name: Android Appium Tests

on:
  push:
  pull_request:

jobs:
  android-tests:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Python dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Appium
        run: |
          npm install -g appium
          appium -v

      - name: Start Emulator, Install APK & Run Tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 30
          target: google_apis
          arch: x86_64
          profile: pixel_3a           # ✅ LIGHTWEIGHT DEVICE
          force-avd-creation: true
          emulator-options: >
            -no-window
            -no-audio
            -no-boot-anim
            -gpu swiftshader_indirect
            -no-snapshot
            -memory 2048
            -cores 2
          disable-animations: true
          emulator-boot-timeout: 900  # ⏳ IMPORTANT

          script: |
            echo "Waiting for device..."
            adb wait-for-device

            echo "Checking boot completion..."
            adb shell getprop sys.boot_completed

            adb devices

            echo "Installing APK"
            adb install -r MatterVerseQA_1.91.apk

            echo "Starting Appium"
            nohup appium --port 4723 --log-level error > appium.log 2>&1 &

            sleep 20

            echo "Running tests"
            python -m pytest -v

        env:
          platformName: Android
          deviceName: Android Emulator
          android_version: "11"
          appPackage: com.matter.companion.qa
          appActivity: com.matter.companion.view.onbording.SplashActivity
          appium_server_url: http://127.0.0.1:4723/wd/hub